<div class="o-box">
    <div class="c-banner-inner">
        <div class="c-burger">
            <div class="c-burger-inner js-burger"></div>
        </div>

        <div class="c-banner-logo">
            <a href="00-home.html">
                <span class="d-block d-lg-none">
                    {% include "svg.twig" with { name: 'logo-xs' } %}
                </span>
                <span class="d-none d-lg-block">
                    {% include "svg.twig" with { name: 'logo' } %}
                </span>
            </a>
        </div>

        <div class="c-banner-location">Доставка грузинської їжі у&nbsp;<b>Луцьку</b></div>

        <div class="c-banner-delivery">
            <img src="../img/svg/delivery.svg" alt="Доставка">
            <div class="text">
                 від 150 грн <span>доставка безкоштовна</span>
            </div>
        </div>
        <div class="c-banner-info">
            <div class="c-banner-contacts">
                <span class="c-banner-contacts__city">Луцьк</span>
                <a class="number" href="tel: +38090 888-77-22">+380 90 888-77-22</a>
            </div>
            <div class="c-banner-time">
                <div class="c-banner-time--xs">
                    пн-нд<time datetime="9:00-20:000"> 9:00-20:00</time>
                </div>
                <div class="c-banner-time--lg">
                    Приймаємо замовлення <br>
                    <time datetime="9:00-20:000">з&nbsp;9:00 до&nbsp;22:00 щодня</time>
                </div>
            </div>
        </div>
        
    </div>
</div>

