<div class="c-home-cart js-cart-popup is-empt">
    <section class="c-home-cart__header">
        <span class="title">Моє замовлення</span>
        <span class="c-cart-subtitle">
            В кошику <b>5 страв</b>
        </span>
        <button class="btn btn-close js-home-cart">
            <img src="../img/svg/close.svg" alt="close">
        </button>
    </section>
    <section class="c-home-cart__content js-scroll-y">
        {% include 'cart.twig'%}
    </section>
    <section class="c-home-cart__footer">
        <div class="delivery">
            <span>Доставка:</span>
            <b class="price">40 ₴</b>
        </div>
        <div class="total">
            <span>Всього до оплати:</span>
            <b class="price">150 ₴</b>
        </div>
        <a href="01-order.html" class="btn btn-primary">Оформити замовлення</a>
    </section>

    {# {% include "app-notification.twig" with {
        title: 'Йой. <br> Тут порожньо:(',
        sad: true,
        info: ["Вибери страву з&nbsp;нашого меню, а&nbsp;ми&nbsp;доставимо її&nbsp;якомога швидше!"],
        btn: 'Назад в меню',
        class: 'js-home-cart'
    } %} #}
</div>