{% if not title %}
    {% set title = '' %}
{% endif %}

{% if not street %}
    {% set street = '' %}
{% endif %}

{% if not time %}
    {% set time = '' %}
{% endif %}

{% if not number %}
    {% set number = '' %}
{% endif %}

<div class="c-footer-address wow fadeInUp" data-wow-delay=".2s"> 
    {% if title %}
        <h3 class="c-footer-address__title">{{ title }}</h3>
    {% endif %}
    <address>{{ street }}</address>
    {% for i in numbers %}
        <a class="number" href="tel: {{i}}">{{ i }}</a><br>
    {% endfor %}
    <time>ПН–НД, {{ time }}</time>
</div>