<section class="o-notification">
    <span class="o-notification-title">{{ title }}</span>
    <div class="o-notification-img">
        {% if sad %}
            <div class="animation-sad">
                <img src="../img/svg/khachapur-sad.svg" alt="">
            </div>
        {% else %}
            <div class="animation">
                <img src="../img/svg/khachapur.svg" alt="">
            </div>
        {% endif %}
    </div>

    {% for i in info %}
        <p>{{ i }}</p>
    {% endfor %}

    {% if link %}
        <a href="{{ href }}" class="btn btn-primary">{{ link }}</a>
    {% endif %}
    {% if btn %}
        <button class="btn btn-primary {{class}}" {{ attr }}>{{ btn }}</button>
    {% endif %}
</section>