<div class="o-box">
    <div class="c-footer-inner">
        <div class="c-footer-col">
            <h2 class="c-footer-title toogle js-footer-title wow fadeInUp">Ресторани</h2>
            
            {% include 'app-social.twig' %}

            <div class="c-footer-col__toogle">
                {% include 'app-address.twig' with {
                    title: 'Вараш',
                    street: '<span>ТРЦ Оранж Плаза</span> <br> Майдан Незалежності, 10',
                    numbers: [
                        '+380 68 917 22 96',
                        '+380 95 323 77 91'
                    ],
                    time: '9–22' } %}
            </div>
            
        </div>
        <div class="c-footer-col ">
            <h2 class="c-footer-title toogle js-footer-title wow fadeInUp">Пекарні</h2>

            {% include 'app-social.twig' %}

            <div class="c-footer-col__toogle">
                {% include 'app-address.twig' with {
                    title: 'Луцьк',
                    street: 'вул. Задворецька, 1',
                    numbers: ['+38‌‌‎0 95 278 70 77'],
                    time: '8–21'
                } %}

                {% include 'app-address.twig' with {
                    title: 'Луцьк',
                    street: 'вул. Набережна, 2',
                    numbers: ['+380 98 797 70 77'],
                    time: '7–20'
                } %}

                {% include 'app-address.twig' with {
                    title: 'Нетішин',
                    street: 'вул. Шевченка, 7',
                    numbers: ['+380 97 378 07 74'],
                    time: '9–21'
                } %}
            </div>
        
        </div>
    </div>

    <div class="c-footer-bottom">
        <div class="c-footer-copyright wow fadeInUp">&copy;&nbsp;2019 Сулі Гулі</div>

        <div class="c-ideil wow fadeInUp">
            <a class="c-ideil-link" href="https://www.ideil.com/">
                Зроблено в 
                <span class="sr-only">ideil.</span>
                <img class="c-ideil-img" src="../img/svg/ideil.svg" alt="ideil. — розробка веб-сайтів, інтернет-магазинів, мобільних додатків та програмного забезпечення" aria-hidden="true">
            </a>
        </div>
    </div>
</div>