<div class="c-social">
    <ul class="c-social-list wow fadeInUp" data-wow-delay=".1s">
        <li class="c-social-item">
            <a href="#" class="c-social-link">
                <img src="../img/svg/instagram.svg" alt="instagram">
            </a>
        </li>
        <li class="c-social-item">
            <a href="#" class="c-social-link">
                <img src="../img/svg/facebook.svg" alt="facebook">
            </a>
        </li>
    </ul>
</div>