{% if not end %}
    {% set end = 3 %}
{% endif %}

{% if not arr %}
    {% set arr = products %}
{% endif %}

<section class="c-product-section js-section" data-id="{{data}}">
    <h2 class="c-product-subtitle wow fadeInUp" data-wow-delay=".1s">{{title}}</h2>
    <ul class="c-product-list">
        {% for key,item in arr|slice(0, end) %}
            <li class="c-product-item wow fadeInUp" data-wow-delay=".2s">
                <div class="c-product-img{% if arr == drinks %} center{% endif %}">
                    {% if arr == drinks %}
                        <picture>
                            <source data-srcset="../img/products/drinks/{{loop.index}}.jpg, ../img/products/drinks/{{loop.index}}@2x.jpg 2x" / twig-image-srcset="data-srcset">
                            <img  data-toggle="modal" data-target="#popup-dish" alt="{{item.title}}" class="lazy" data-src="../img/products/drinks/{{loop.index}}.jpg" / twig-image-srcset="data-src">
                        </picture>
                    {% else %}
                        <picture>
                            <source data-srcset="../img/products/{{loop.index}}.jpg, ../img/products/{{loop.index}}@2x.jpg 2x" / twig-image-srcset="data-srcset">
                            <img data-toggle="modal" data-target="#popup-dish" alt="{{item.title}}" class="lazy" data-src="../img/products/{{loop.index}}.jpg" / twig-image-srcset="data-src">
                        </picture>
                    {% endif %}
                </div>
                <h3 class="c-product-title" data-toggle="modal" data-target="#popup-dish"><b>{{ item.title }}</b></h3>
                <span class="weight">290&nbsp;г</span>
                <p class="c-product-ingredients">{{ item.ingredients }}</p>
                <div class="c-product-order">
                    {% if loop.index != 2 %}
                        <span class="price"><b>{{ item.price }} ₴</b></span>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#popup-dish">Хочу!</button>
                    {% else %}
                        <span class="price"><b>{{ item.price }} ₴</b></span>
                        <div>
                            <button class="btn btn-primary" data-toggle="modal" data-target="#popup-dish">Хочу ще!</button>
                            <span class="in-cart">2 вже в кошику</span>
                        </div>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>
</section>