{% if not title %}
    {% set title = 'Гарніри на вибір' %}
{% endif %}

{% if not description %}
    {% set description = 'виберіть до 2х' %}
{% endif %}

{% if not end %}
    {% set end = 3 %}
{% endif %}

<div class="c-ingredient-wrap">
    <div class="c-ingredient-inner">
        <section c class="c-ingredient-head">
            <h3 class="c-ingredient-title">{{ title }}</h3>
            <p class="description">{{ description }}</p>
        </section>
        
        {% include 'app-ingredient.twig' with { end: end } %}
    </div>

</div>