{# <script src="../src/vendor/js/vue.js"></script>
<script src="../src/vendor/js/vuex.js"></script> #}
<script src="../src/vendor/js/lodash.js"></script>
<script src="../src/vendor/js/bootstrap-native-v4.js"></script>
<script src="../src/js/app.js"></script>
