<div class="c-category js-category-scroll">
    <ul class="c-category-list js-category">
        {% for item in categories %}
            <li class="c-category-item">
                <a href="#" class="c-category-link js-scroll-category {% if loop.index == 1 %} is-active{% endif %}" data-href="{{ item.data }}">
                    <div class="c-category-img">
                        <picture>
                            <source data-srcset="../img/category/{{loop.index}}.png, ../img/category/{{loop.index}}@2x.png 2x" / twig-image-srcset="data-srcset">
                            <img alt="{{ item.link }}" class="lazy" data-src="../img/category/{{loop.index}}.png" / twig-image-srcset="data-src">
                        </picture>
                    </div>
                    <span class="d-lg-block d-none">{{ item.link }}</span>
                    <span class="d-lg-none">{{ item.linkXs }}</span>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>