{% if not end %}
    {% set end = 3 %}
{% endif %}

{% for item in components|slice(0, end) %}
    <div class="c-ingredient">

        {% if loop.index == 5 %}
            {% include 'counter.twig' %}
        {% else %}
            {% include 'counter.twig' %}
        {% endif %}

       
        <div class="c-ingredient-name">{{ item.name }}</div>
        <div class="c-ingredient-price">+{{ item.price }} ₴</div>
    </div>
{% endfor %}