<div class="c-cart {% if scroll %}{{scroll}}{% endif %}">
    <ul class="c-cart-list">
        {% for item in cart %}
            <li class="c-cart-item {% if loop.first %}has-loader{% endif %}">
                <div class="c-cart-img">
                    <picture>
                        <source data-srcset="../img/products/cart/{{loop.index}}.jpg, ../img/products/cart/{{loop.index}}@2x.jpg 2x" / twig-image-srcset="data-srcset">
                        <img alt="{{item.title}}" class="js-cart-lazy" data-src="../img/products/cart/{{loop.index}}.jpg" / twig-image-srcset="data-src">
                    </picture>
                </div>
                <div class="c-cart-info">
                    <h3 class="c-cart-title"><b>{{ item.title }}</b></h3>
                    <span class="weight">290&nbsp;г</span>
                    {% include 'counter.twig' %}
                </div>
                <span class="price"><b>584 ₴</b></span>
                <button class="btn btn-dump">
                    <svg width="13" height="16" viewBox="0 0 13 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="btn-dump__lid" d="M12.1993 2.18478C11.808 1.79348 11.4167 1.66304 10.895 1.66304L8.41669 1.79348C8.28626 1.1413 7.89495 0.75 7.24278 0.75C6.46017 0.75 5.41669 1.27174 5.28626 1.92391L0.721039 2.31522L1.11234 3.75L11.5471 4.40217C11.9384 4.40217 12.1993 4.27174 12.4602 4.01087C12.721 3.75 12.721 3.61957 12.721 3.3587C12.721 2.83696 12.5906 2.44565 12.1993 2.18478Z"/>
                        <path d="M11.6775 15.3587L12.0688 5.70656C12.0688 5.57613 11.808 5.18483 11.5471 5.18483L2.02537 4.66309C1.89493 4.66309 1.7645 4.79352 1.7645 5.05439L2.67748 15.75"/>
                    </svg>
                </button>
                <div class="loader">
                    {% include "svg.twig" with { name: 'loader' } %}
                </div>
            </li>
        {% endfor %}
    </ul>
</div>