<div class="c-counter">
    <button class="btn btn-counter" disabled>
        <img src="../img/svg/remove.svg" alt="remove">
    </button>
    <span class="c-counter-number">1</span>
    <button class="btn btn-counter">
        <img src="../img/svg/add.svg" alt="add">
    </button>
</div>