<form method="post">
    <section class="form-section">
        <span class="form-title"><b>Особиста інформація</b></span>
        <div class="form-row">
            <div class="form-col">
                <div class="form-group">
                    <input type="text" value="Name" class="form-control js-input is-invalid" id="f-name" required>
                    <label for="f-name">Ім’я*</label>
                    <div class="invalid-feedback">
                        Вкажіть своє ім’я, щоб ми знали як до вас звертатись :)
                    </div>
                </div>
            </div>
            <div class="form-col">
                <div class="form-group">
                    <input type="tel" class="form-control js-input" id="f-tel" required>
                    <label for="f-tel">Телефон*</label>
                </div>
            </div>
        </div>
    </section>

    <section class="form-section">
        <span class="form-title"><b>Бажаний час доставки</b></span>
        <div class="form-row">
            <div class="form-col radio">
                    <div class="form-group">
                    <input type="radio" class="form-control" id="f-r1" name="time" checked required>
                    <label for="f-r1">Якнайшвидше&#160;&#160;&#160;<img src="../img/svg/time.svg" alt="time"></label>
                </div>
            </div>
            <div class="form-col radio">
                <div class="form-group">
                    <input type="radio" class="form-control" id="f-r2" name="time">
                    <label for="f-r2">На певний час</label>
                </div>
                <div class="form-row--full">
                    <div class="form-col">
                        <select class="js-select-date">
                            {% for i in selectDate %}
                                <option value="{{i}}">{{i}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-col--sm">
                        <select class="js-select-time">
                            {% for i in 9..21 %}
                                <option value="{{i}}:00">{{i}}:00</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="form-section">
        <span class="form-title"><b>Куди везти?</b></span>
        <div class="form-row">
            <div class="form-col--lg">
                <div class="form-group">
                    <input type="text" class="form-control js-input" id="a-1" required>
                    <label for="a-1">Вулиця*</label>
                </div>
            </div>
            <div class="form-col--sm">
                <div class="form-group">
                    <input type="text" class="form-control js-input" id="a-2" required>
                    <label for="a-2">Будинок*</label>
                </div>
            </div>
            <div class="form-col--sm">
                <div class="form-group">
                    <input type="number" class="form-control js-input" id="a-3" required>
                    <label for="a-3">Під’їзд</label>
                </div>
            </div>
            <div class="form-col--sm">
                <div class="form-group">
                    <input type="number" class="form-control js-input" id="a-4" required>
                    <label for="a-4">Код</label>
                </div>
            </div>
            <div class="form-col--sm">
                <div class="form-group">
                    <input type="number" class="form-control js-input" id="a-5" required>
                    <label for="a-5">Поверх</label>
                </div>
            </div>
            <div class="form-col--sm">
                <div class="form-group">
                    <input type="number" class="form-control js-input" id="a-6" required>
                    <label for="a-6">Квартира</label>
                </div>
            </div>
        </div>
    </section>

    <section class="form-section">
        <span class="form-title"><b>Як вам зручніше оплатити?</b></span>
        <p class="form-subtitle">Онлайн оплата з&rsquo;явиться згодом. А&nbsp;поки ви&nbsp;зможете розрахуватись карткою при отриманні, або&nbsp;ж стандартно готівкою.</p>
        <div class="form-row">
            <div class="form-col radio">
                    <div class="form-group">
                    <input type="radio" class="form-control" id="p-1" name="pay">
                    <label for="p-1">Карткою</label>
                </div>
            </div>
            <div class="form-col radio">
                    <div class="form-group">
                    <input type="radio" class="form-control" id="p-2" name="pay" checked>
                    <label for="p-2">Готівкою</label>
                </div>
            </div>
        </div>
    </section>

    <section class="form-section">
        <span class="form-title"><b>Примітки до замовлення</b></span>
        <div class="form-row">
            <div class="form-col form-col--full">
                <textarea rows="5" class="form-control" placeholder="Наприклад, додайте ще 2 комплекта приборів"></textarea>
            </div>
        </div>
    </section>
</form>