<div class="c-home-cart__btns">
    <div class="inner js-home-cart">
        <section class="total">
            <span class="count">87 страв</span>
            <b>2989 ₴</b>
        </section>
        <div class="animation">
            <img src="../img/svg/khachapur.svg" alt="khachapuri">
        </div>
    </div>
</div>