<div class="modal fade" id="popup-thanks" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button class="btn btn-close" data-dismiss="modal" aria-label="Close">
               <img src="../img/svg/close.svg" alt="close">
            </button>

            {% include "app-notification.twig" with {
                title: 'Дякуємо за&nbsp;замовлення!',
                info: ["Найближчим часом вам зателефонує менеджер для підтвердження вашого замовлення."],
                link: 'На головну',
                href: '00-home.html'
            } %}
        </div>
    </div>
</div>
