<div class="modal fade" id="popup-dish" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered c-dish-wrap" role="document">
        <div class="modal-content c-dish-content">
            <div class="c-dish">
                <div class="c-dish-close">
                    <button class="btn btn-close" data-dismiss="modal" aria-label="Close">
                        <img src="../img/svg/close.svg" alt="close">
                    </button>
                </div>

                <aside class="c-dish-img">
                    <picture>
                        <source media="(max-width: 992px)" data-srcset="../img/dish/dish-md.jpg, ../img/dish/dish-md@2x.jpg 2x" / twig-image-srcset="data-srcset">
                        <source media="(min-width: 992px)" data-srcset="../img/dish/dish.jpg, ../img/dish/dish@2x.jpg 2x" / twig-image-srcset="data-srcset">
                        <img  alt="{{item.title}}" class="lazy" data-src="../img/dish/dish-preload.jpg" / twig-image-srcset="data-src">
                    </picture>
                </aside>

                <div class="c-dish-info js-scroll-dish">

                    <section class="c-dish-head">
                        <span class="c-product-title"><b>Хачапурі з&nbsp;горгонзолою</b></span>
                        <span class="weight">190&nbsp;г</span>
                        <p class="c-product-ingredients">Баклажан, перець болгарський, гарбуз, цибуля, язик телячий, горіх грецький, дресінг, мікс салатів, гранат, часник, йогурт, сіль, перець чорний</p>
                        <span class="price"><b>50 ₴</b></span>
                    </section>

                </div>
                <div class="c-dish-cart">
                    {% include 'counter.twig'%}
                    <button class="btn btn-primary" type="submit" {{attr}}>В кошик</button>
                </div>
            </div>
        </div>
    </div>
</div>
