
<div class="c-home-banner wow fadeInUp">
    <div class="swiper-container js-slider-banner">
        <div class="swiper-wrapper">
            {% for i in banners %}
                <div class="swiper-slide">
                    <picture>
                        <source media="(max-width: 767.98px)" data-srcset="../img/banners/{{loop.index}}-xs.jpg, ../img/banners/{{loop.index}}-xs@2x.jpg 2x" / twig-image-srcset="data-srcset">
                        <source media="(min-width: 767.99px)" data-srcset="../img/banners/{{loop.index}}.jpg, ../img/banners/{{loop.index}}@2x.jpg 2x" / twig-image-srcset="data-srcset">
                        <img alt="{{i}}" class="lazy" data-src="../img/banners/{{loop.index}}.jpg" / twig-image-srcset="data-src">
                    </picture>
                </div>
            {% endfor %}
        </div>

        <button class="btn btn-arrow prev js-prev">
            {% include "svg.twig" with { name: 'arrow' } %}
        </button>
        <button class="btn btn-arrow next js-next">
            {% include "svg.twig" with { name: 'arrow' } %}
        </button>

    </div>
    <div class="swiper-pagination"></div>
</div>