---
subject: Ring | Delivery
---

<container class="header">
    <wrapper>
        <row class="collapse">
            <columns>
                <a href="http://ring.lutsk.ua/" target="_blank" rel="noopener noreferrer">
                    <img src="./../assets/img/logo.png" width="83" height="83" title="RING" alt="RING">
                </a>

                <spacer size="24"></spacer>

                <h1>Замовлення прийнято</h1>

                <p>Привіт, Мік!</p>
                <p>Твоє замовлення 👉&nbsp;<a href="http://ring.lutsk.ua/" target="_blank" rel="noopener noreferrer"><b>№16544</b></a> створене і&nbsp;вже найближчим часом буде тобі доставлене</p>

                <spacer size="52"></spacer>
            </columns>
        </row>
    </wrapper>
</container>

<container class="body">
    <table class="body-inner">
        <tbody>
            <tr>
                <td>
                    <wrapper>
                        <h2>Склад замовлення</h2>

                        <row class="delivery collapse">
                            <columns large="1">
                                <table class="delivery-image">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <img src="./../assets/img/delivery-1.jpg" width="80" height="80" alt="Бургер Nevada">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <spacer size="16" class="hide-for-large-custom"></spacer>
                            </columns>

                            <columns>
                                <p><b>Бургер Nevada</b> 300 г</p>
                                <p><b>84 UAH</b></p>
                            </columns>

                            <columns large="1">
                                <p class="text-right"><b>2 шт</b></p>
                            </columns>

                            <columns large="1">
                                <p class="text-right"><b>168 UAH</b></p>
                            </columns>
                        </row>

                        <spacer size="16" class="show-for-large"></spacer>
                        <spacer size="32" class="hide-for-large-custom"></spacer>

                        <row class="delivery collapse">
                            <columns large="1" class="delivery-image-col">
                                <table class="delivery-image">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <img src="./../assets/img/delivery-2.jpg" width="80" height="80" alt="Cодова Dr. Pepper">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <spacer size="16" class="hide-for-large-custom"></spacer>
                            </columns>

                            <columns>
                                <p><b>Cодова Dr. Pepper</b> 0.25</p>
                                <p><b>84 UAH</b></p>
                            </columns>

                            <columns large="1">
                                <p class="text-right"><b>10 шт</b></p>
                            </columns>

                            <columns large="1">
                                <p class="text-right"><b>84 UAH</b></p>
                            </columns>
                        </row>

                        <spacer size="16" class="show-for-large"></spacer>
                        <spacer size="32" class="hide-for-large-custom"></spacer>

                        <hr />

                        <row class="collapse">
                            <columns>
                                <p><small><b>Новосад Олег,</b></small></p>
                                <p><a href="tel:+380939228283"><small><b>+380 93 922 82 83</b></small></a></p>
                                <spacer size="14"></spacer>
                                <p><small><b>вул. Зої Космодем’янської, 9</b></small></p>

                                <spacer size="32" class="hide-for-large-custom"></spacer>
                            </columns>

                            <columns>
                                <p class="text-right"><small>Всього</small></p>
                                <h3 class="text-right">389 UAH</h3>
                            </columns>
                        </row class="collapse">
                    </wrapper>

                    <table class="overlay">
                        <tbody>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</container>

