//  Foundation for Emails Settings
//  ------------------------------
//
//  Table of Contents:
//
//   1. Global
//   2. Grid
//   3. Block Grid
//   4. Typography
//   5. Button
//   6. Callout
//   7. Menu
//   8. Thumbnail


// 1. Global
// ---------

$primary: #F2F2F2;
$secondary: #DEF2FF;
$success: #3adb76;
$warning: #ffae00;
$alert: #ec5840;

$black: #000000;
$white: #ffffff;
$light-gray: #f3f3f3;

$global-width: 700px;
$global-width-small: 100%;
$global-gutter: 16px;
$body-background: $light-gray;
$container-background: $white;
$global-padding: 16px;
$global-margin: 16px;
$global-radius: 3px;
$global-rounded: 500px;
$global-breakpoint: $global-width + $global-gutter;

// 2. Grid
// -------

$grid-column-count: 12;
$column-padding-bottom: $global-padding;
$container-radius: 0;

// 3. Block Grid
// -------------

$block-grid-max: 8;
$block-grid-gutter: $global-gutter;

// 4. Typography
// -------------

$global-font-color: inherit;
$global-font-weight: normal;
$global-line-height: 1.5;
$global-font-size: 16px;

$body-font-family: Helvetica, Arial, sans-serif;
$body-line-height: $global-line-height;

$h1-font-size: 64px;
$h2-font-size: 36px;
$h3-font-size: 26px;

$small-font-size: 87.5%;
$small-font-color: inherit;

$lead-font-size: $global-font-size * 1.25;
$lead-line-height: 1.4;

$paragraph-margin-bottom: 0x;
$text-padding: 0;

$hr-width: $global-width;
$hr-border: 1px solid $black;
$hr-margin: 20px auto;

$anchor-text-decoration: none;
$anchor-color: $primary;
$anchor-color-visited: $anchor-color;
$anchor-color-hover: darken($primary, 10%);
$anchor-color-active: $anchor-color-hover;

$stat-font-size: 40px;

$header-color: inherit;
$header-margin-bottom: 10px;

$subheader-lineheight: 1.4;
$subheader-color: $black;
$subheader-font-weight: $global-font-weight;
$subheader-margin-top: 4px;
$subheader-margin-bottom: 8px;

// 5. Button
// ---------

$button-padding: (
  tiny: 4px 8px 4px 8px,
  small: 5px 10px 5px 10px,
  default: 8px 16px 8px 16px,
  large: 10px 20px 10px 20px,
);
$button-font-size: (
  tiny: 10px,
  small: 12px,
  default: 16px,
  large: 20px,
);
$button-color: $white;
$button-color-alt: $black;
$button-font-weight: bold;
$button-margin: 0 0 $global-margin 0;
$button-background: $primary;
$button-border: 2px solid $button-background;
$button-radius: $global-radius;
$button-rounded: $global-rounded;

// 6. Callout
// ----------

$callout-background: $white;
$callout-background-fade: 85%;
$callout-padding: 10px;
$callout-margin-bottom: $global-margin;
$callout-border: 1px solid darken($callout-background, 20%);
$callout-border-secondary: 1px solid darken($secondary, 20%);
$callout-border-success: 1px solid darken($success, 20%);
$callout-border-warning: 1px solid darken($warning, 20%);
$callout-border-alert: 1px solid darken($alert, 20%);

// 7. Menu
// -------

$menu-item-padding: 0;
$menu-item-gutter: 20px;
$menu-item-color: $primary;

// 8. Thumbnail
// ------------

$thumbnail-border: solid 4px $white;
$thumbnail-margin-bottom: $global-margin;
$thumbnail-shadow: 0 0 0 1px rgba($black, 0.2);
$thumbnail-shadow-hover: 0 0 6px 1px rgba($primary, 0.5);
$thumbnail-transition: box-shadow 200ms ease-out;
$thumbnail-radius: $global-radius;

