<!DOCTYPE html>
<html class="no-js{% if pageId == 06 or pageId == 07 %} dark-menu{% endif %}">
    {% include '../_parts/app-head.twig' %}

    <body>
        {% if pageId != 404 %}
            <header class="c-banner">
                {% include '../_parts/app-banner.twig' %}
            </header>
        {% endif %}

        <main class="main">
            {% block content %}{% endblock %}
        </main>

        {% if pageId != 404 %}
            <footer class="c-footer">
                {% include '../_parts/app-footer.twig' %}
            </footer>
        {% endif %}
        {% if pageId != 404 %}
            {% if pageId == 00 %}
                {% include '../_parts/modal-dish.twig' %}
                {% include '../_parts/app-popup-cart.twig' %}   
            {% endif %}
            
            {% include '../_parts/modal-thanks.twig' %}
        {% endif %}

        {% include '../_parts/app-js.twig' %}
    </body>
</html>
