// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles
body,
html {
	background: $light-gray !important;
}

p {
	margin: 0;
}

h1,
h2,
h3 {
	line-height: 1.2;
	font-weight: bold;
}

h1 {
	margin-bottom: 20px;

	@media only screen and (max-width: 716px) {
		font-size: 28px !important;
	}
}

h2 {
	margin-bottom: 30px;

	@media only screen and (max-width: 716px) {
		font-size: 24px !important;
	}
}

h3 {
	margin-bottom: 20px;

	@media only screen and (max-width: 716px) {
		font-size: 20px !important;
	}
}

hr {
	border-color: $black;
	border-width: 1px;
	margin-top: 0;
	margin-bottom: 25px;
}

table.menu td.menu-item,
table.menu th.menu-item {
	padding-bottom: $menu-item-gutter;
}

// table.body .container {

// 	@media only screen and (max-width: 716px)  {
// 		width: 100% !important;
// 	}
// }
.overlay {
	width: 100%;
	background: $secondary;
	overflow: hidden;
	border-top-left-radius: 52px;
	border-top-right-radius: 52px;

	@media only screen and (max-width: 716px) {
		border-top-left-radius: 32px !important;
		border-top-right-radius: 32px !important;
	}

	td {
		font-size: 52px;
		line-height: 52px;
		height: 52px;

		@media only screen and (max-width: 716px) {
			font-size: 32px !important;
			line-height: 32px !important;
			height: 32px !important;
		}
	}
}

.hide-for-large-custom {
	display: none;
	mso-hide: all; // hide selected elements in Outlook 2007-2013
	overflow: hidden;
	max-height: 0;
	font-size: 0;
	width: 0;
	line-height: 0;

	@media only screen and (max-width: 716px) {
		display: block !important;
		width: auto !important;
		overflow: visible !important;
		max-height: none !important;
		font-size: inherit !important;
		line-height: inherit !important;
	}
}

table.body table.container .hide-for-large-custom * {
	mso-hide: all; // hide selected elements in Outlook 2007-2013
}

table.body table.container .hide-for-large-custom {
	@media only screen and (max-width: 716px) {
		display: table !important;
		width: 100% !important;
	}
}

.image {
	width: 100%;
	background-position: center;
	background-size: cover;
}

.body-inner {
	width: 100%;
	background: $white;
	overflow: hidden;
	border-top-left-radius: 52px;
	border-top-right-radius: 52px;

	@media only screen and (max-width: 716px) {
		border-top-left-radius: 32px !important;
		border-top-right-radius: 32px !important;
	}
}

.delivery {

	&-image {
		border-radius: 40px;
		overflow: hidden;
		width: auto !important;
		border-width: 1px;
		border-style: solid;
		border-color: #E0E0E0;
		border-collapse: separate;
		border-spacing: 0px;
	}
}

.smaller {
	font-size: 9px;
}

.text-right {

	@media only screen and (max-width: 716px) {
		text-align: left !important;
	}
}

.container {

	.wrapper-inner {
		padding: 40px;

		@media only screen and (max-width: 716px) {
			padding: 40px 20px !important;
		}
	}

	&.header {
		background: $primary;
		color: $secondary;

		img {
			max-width: 83px;
		}

		a {
			color: $secondary;
		}

		p {
			max-width: 450px;
		}

		.columns {
			padding-bottom: 0;
		}

		.wrapper-inner {
			padding-bottom: 0 !important;
		}
	}

	&.body {
		background: $primary;

		a {
			color: inherit;
		}

		.columns {
			padding-bottom: 0;
		}
	}

	&.footer {
		color: $primary;
		background: $secondary;

		img {
			max-width: 175px;
		}

		p {
			max-width: 450px;
		}

		.wrapper-inner {
			padding-top: 0 !important;
		}
	}
}


.menu {
	width: auto !important;
}
