@keyframes jump {
    0%   {transform: translate3d(0,-7%,0) scale3d(1,1,1);}
    45%  {transform: translate3d(0,0%,0) scale3d(.97,1.03,.9);}
    100% {transform: translate3d(0,20%,0) scale3d(1.03,.97,.9);}
}

@keyframes egg {
    0%   {transform: translate3d(18px, -1px, 0) scale3d(1,.98,1);}
    45%  {transform: translate3d(18px, 0px, 0) scale3d(.95,1.03,.92);}
    100% {transform: translate3d(18px, 1px, 0) scale3d(1.01,.95,.9);}
}

@keyframes sad {
    0%   {transform: scale3d(1, 1, 1);}
    20%  {transform: scale3d(.998, 1.01, 1);}
    30%  {transform: scale3d(.99, 1.02, 1);}
    40%  {transform: scale3d(.988, 1.03, 1);}
    50%  {transform: scale3d(.98, 1.04, 1);}
    60%  {transform: scale3d(.978, 1.041, 1);}
    70%  {transform: scale3d(.975, 1.045, 1);}
    80%  {transform: scale3d(.98, 1.035, 1);}
    90%  {transform: scale3d(.99, 1.02, 1);}
    95%  {transform: scale3d(1, 1.01, 1);}
    100% {transform: scale3d(1, 1, 1);}
}

.animation {
    transform-origin: 50% 50%;
    animation: jump .7s linear alternate infinite;
    will-change: transform;
    
    img {
        display: block;
        will-change: transform;
    }
    
    &-sad {
        transform-origin: 50% bottom;
        animation: sad 2.5s linear infinite;
    }
}