.c-banner {
    @include media-breakpoint-down(md) {
        padding-bottom: $o-sm;
    }

    @include media-breakpoint-up(lg) {
        padding: $o 0;
    }
    
    &-inner {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &-logo {
        text-align: center;

        a {
            display: block;
        }

        svg {
            fill: $black;
            transition: $transition;

            &:hover {
                fill: $primary;
            }
        }
    }

    &-info {
        text-align: center;
        font-size: 1.8rem;

        @include media-breakpoint-down(xs) {
            margin-left: auto;
        }
    }

    &-contacts {

        &__city {
            display: none;
            font-weight: 500;

            .dark-menu & {
                color: #000;
            }
        }
    }

    &-time {
        text-align: left;
        font-size: 1.2rem;
        line-height: 1.1;
        color: $gray-500;

        &--lg {
            display: none;
        }
        
        @include media-breakpoint-up(lg) {
            &--lg {
                display: block;
            }
            &--xs {
                display: none;
            }
        }
    }

    &-location {
        font-size: 1.6rem;

        @include media-breakpoint-down(md) {
            width: calc(100% + 80px);
            order: -2;
            
            margin-bottom: $o-sm;
            margin-left: -$g;
            margin-right: -$g;

            font-size: 1.4rem;
            color: $white;
            text-align: center;
            line-height: 1.1;

            padding: 11px;
            background: $black;
        }

        @include media-breakpoint-down(sm) {
            margin-left: -$g-sm;
            margin-right: -$g-sm;
            width: calc(100% + 40px);
        }

        @include media-breakpoint-up(lg) {
            margin-left: 23px;
        }

    }

    &-delivery {
        display: flex;
        align-items: center;
        border: 1px dashed $yellow;
        border-radius: 12px;

        font: {
            size: 1.8rem;
            weight: 600;
        };
        line-height: 1.2;
        padding: $o-xs $o-sm;

        span {
            display: inline-block;  
            font: {
                size: 1.2rem;
                weight: 400;
            }
        }

        img {
            margin-right: $o-sm;
        }

        @include media-breakpoint-down(xs) {
            justify-content: center;
            order: 2;
            margin-top: $o-sm;
            width: 100%;
        }

        @media (max-width: 340px) {
            font-size: 1.6rem;
            padding: $o-xs;
        }

        @include media-breakpoint-up(sm) {
            border-radius: 6px;

            margin-left: auto;
            margin-right: $g-sm;
            .text {
                text-align: left;
                
                span {
                    display: block;
                    font-size: 1.2rem;
                }
            }
        }

        @include media-breakpoint-up(md) {
            margin-right: $g;
        }
    }

}

@include media-breakpoint-down(lg) {

    .c-banner {

        &-logo {
            order: -1;

            svg {
                width: 110px;
            }
        }

        &-info {
            transition: $transition;
        }

        &-contacts {

            &__city {
                margin-bottom: $o-sm;
            }
    
            .number {
                display: block;
            }
        }
    }

}

@include media-breakpoint-between(md, xl) {

    .c-banner-logo svg {
        width: 125px;
    }

}

@include media-breakpoint-up(xl) {

    .c-banner {
        &-inner {
            justify-content: space-between;
            align-items: center;
        }

        &-logo {
            svg {
                width: 135px;
            }
        }
    }

}