.c-burger {
    display: none;
    position: absolute;
    left: 0;
    top: 0;

    cursor: pointer;

    .show-user-nav & {
        display: none;
    }

    &-inner {
        width: 50px;
        height: 50px;
        
        background-color: $grey;
        border-radius: 50%;

        position: relative;

        &::before,
        &::after {
            content: '';

            position: absolute;
            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%);

            width: 30px;
            height: 5px;

            border-radius: 3px;
            background-color: $yellow;

            transition: $transition;
        }
        
        &::before {
            transform: translate(-50%, -50%);
            margin-top: -6px;
        }
        
        &::after {
            transform: translate(-50%, -50%);
            margin-top: 6px;
        }

        &:hover {

            &::before,
            &::after {
                background-color: $burgundy;
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    .c-burger {
        display: none !important;
    }
}