.btn {
    display: inline-flex;
	align-items: center;
	justify-content: center;
    
    text-decoration: none;
    border: none;
    outline: none;
	box-shadow: none;

    vertical-align: middle;
	-webkit-appearance: none;
    user-select: none;
    
    font: {
        family: 'Neucha';
        size: 2.4rem;
    };
    color: $white;
    line-height: 1;

    padding: 17px $g 13px;
    border-radius: $o;
    
    transition: $transition;

    &:disabled {
        color: $white;
        pointer-events: none;
        opacity: .6;
    }

    &.sticky {
        position: sticky;
        bottom: $o;
        
        width: 100%;
        z-index: 1;
    }

    &:hover,
    &:focus,
    &:active {
        background: $yellow;
        box-shadow: none;
    }

    &-arrow {
        display: none;

        @include media-breakpoint-up(md) {
            display: block;
            background: none;
            padding: $o-xs;
            border-radius: 0;


            position: absolute;
            top: 50%;
            z-index: 1;
            
            &.prev {
                left: 0;
                transform: translateY(-50%);
            }
            
            &.next {
                right: 0;
                transform: translateY(-50%) rotate(180deg);
            }
            
            svg {
                fill: $primary;
                transition: $transition;
            }

            &.swiper-button-disabled {
                cursor: auto;
                opacity: 0;
                
                &:hover,
                &:focus,
                &:active {
                    cursor: auto;
                    svg {
                        transform: none;
                    }
                }
            }

            &:hover,
            &:focus,
            &:active {
                background: transparent;
                
                svg {
                    fill: $yellow;
                    transform: translateX(-$o-xs);
                }
            }
            
            @include media-breakpoint-only(md) {
                &.prev {
                    left: $g;
                }
                
                &.next {
                    right: $g;
                }
            }
        }

    }

    &-close {
        position: absolute;
        top: $o-xs;
        right: $o-xs;
        padding: $o-xs;
        background: transparent;

        img {
            pointer-events: none;
            filter: brightness(1.3) grayscale(100%);
            transition: $transition;
        }
        
        &:hover,
        &:focus,
        &:active {
            background: transparent;
            
            img {
                filter: none;
            }
        }
    }

    &-dump {
        background: transparent;
        padding: $o-sm;
        margin-top: -$o-sm;
        margin-right: -$o-sm;

        svg {
            overflow: visible;
            will-change: fill;
            fill: $primary;
        }

        &__lid {
            will-change: transform;
            transform-origin: left bottom;
            transition: $transition;
        }
        
        &:hover,
        &:focus,
        &:active {
            background: transparent;

            svg {
                fill: $yellow;
            }
            
            .btn-dump__lid {
                transform: translateX(2px) rotate(-10deg);
            }
        }
    }

    &-counter {
        background: $primary;
        padding: 8px 7px 6px;
        border-radius: 6px;
        width: 28px;
        height: 28px;

        img {
            width: 13px;
        }

        .c-dish-cart & {
            width: 36px;
            height: 36px;
        }
    }
}

.gm-ui-hover-effect {
    right: 0 !important;
    top: 0 !important;
    opacity: 0 !important;
    display: none !important;
}