.c-cart {
    &-list {
        @extend .u-list;
    }

    &-item {
        display: flex;
        align-items: flex-start;
        position: relative;

        &:not(:last-child) {
            margin-bottom: $o;
        }

        .price {
            display: inline-block;
            margin-left: $g-sm;
            flex-shrink: 0;
            
            color: $gray-900;
            font-size: 2rem;
            line-height: 1;
        }

        .loader {
            opacity: 0;
            pointer-events: none;
            visibility: hidden;
            display: none;
            transition: $transition;
            
            .c-order-sidebar.wow & {
                visibility: hidden;
            }
            
            .c-order-sidebar.wow[style] & {
                visibility: visible;
            }
        }

        &.has-loader {
            & > *:not(.loader){
                opacity: .2;
            }
            
            .loader {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
    
                display: flex;
                align-items: center;
                justify-content: center;
                opacity: 1;
                pointer-events: all;
                visibility: visible;
            }
        }

    }

    &-title {
        color: $gray-900;
        font-size: 1.6rem;
    }

    &-info {
        padding-left: $o-sm;
        margin-right: auto;
        transition: $transition;

        .c-counter {
            margin-top: $o-xs;
        }
    }

    &-img {
        position: relative;
        width: 80px;
        flex-shrink: 0;
        
        border-radius: $g-xs;
        overflow: hidden;
        transition: $transition;

        &::before {
            content: '';
            display: block;
            padding-bottom: 100%;
        }

        img {
            position: absolute;
            left: 0;
            top: 0;

            width: 100%;
            object-fit: contain;
        }

    }

}
