.c-category {
    &-list {
        @extend .u-list;
    }

    &-link {
        display: inline-block;
        padding: 0 $o-sm;
        
        color: $black;
        line-height: 1.2;
        border-radius: $o;
        transition: $transition;

        &:hover,
        &:focus {
            color: $black;

            @include media-breakpoint-up(md) {
                color: $yellow;
            }
        }
    }
}

@include media-breakpoint-down(md) {

    .c-category {
        &-list {
            display: flex;
            overflow-x: auto;

            margin-bottom: $g-xs;
            padding: 7px 4px $o-xs $g;
            width: 100%;
            -webkit-overflow-scrolling: touch;

            @include media-breakpoint-down(sm) {
                padding-left: $g-sm;
            }
        }

        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-shrink: 0;
            flex-grow: 1;
            flex-basis: 88;
            
            text-align: center;

            &:not(:last-child) {
                margin-right: 4px;
            }

            &:last-child {
                padding-right: 4px;
            }
        }
    
        &-link {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            position: relative;
            height: 100%;
            width: 100%;
            min-width: 89px;
            
            background: #F9F9F9;
            
            padding: $o-xs;
            border-radius: 12px;
            border: 2px solid $gray-100;
            transition: 0s;

            span {
                font: {
                    size: 1.5rem;
                    weight: 600;
                };
                line-height: 1.5;
            }

            &.is-active {
                background-color: $white;
                border-color: $yellow;
            }

            &:not(.is-active):hover {
                background: $gray-100;
            }
        }

        &-img {
            position: relative;
            width: 100%;
            
            &::before {
                content: '';
                display: block;
                padding-bottom: 43px;
            }

            img {
                position: absolute;
                left: 50%;
                bottom: 0;
                transform: translateX(-50%);

                width: 100%;
                height: 100%;
                object-fit: contain;
                opacity: 0;
                transition: $transition;

                &.loaded {
                    opacity: 1;
                }
            }
        }
    }

}

@include media-breakpoint-up(lg) {

    .c-category {
        position: sticky;
        top: 0;

        max-height: calc(100vh - 104px);
        overflow-y: auto;

        &.mh-sm {
            max-height: 100vh;
        }

        &-list {
            padding: $g-sm 0;
        }
        
        &-item {
            display: block;
        }

        &-link {
            font: {
                family: "Neucha";
                size: 2.2rem;
            };
            text-transform: uppercase;
            padding: 12px $g-sm $o-xs;

            &.is-active {
                background-color: $black;
                color: $white;
            }
        }

        &-img {
            display: none;
        }
    }

}