.c-ceo {
    text-align: left;
    & > * {
        margin-bottom: $g-sm;

        &:last-child {
            margin-bottom: 0;
        }
    }
    
    p,
    ul li {
        font-size: 1.8rem;
    }

    h1,h2,h3,h4,h5,h6 {
        font-family: 'Neucha';
    }

    ul {
        padding: 0;
        list-style-type: none;

        li {
            padding-left: $o;
            margin-bottom: 0;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: .5em;

                width: 15px;
                height: 15px;
                
                background-color: $burgundy;
                border-radius: 50%;
            }
        }
    }
}

@include media-breakpoint-down(md) {

    .o-layout {
        .c-ceo {
            max-width: 85%;
            margin: 0 auto;
        }
    }
}

@include media-breakpoint-up(md) {
    .c-ceo {

        & > * {
            margin-bottom: $o;
        }

        p,
        ul li {
            font-size: 2.2rem;
        }
    }
}


@include media-breakpoint-up(lg) {
    .c-ceo {

        & > * {
            margin-bottom: $g;
        }

        p,
        ul li {
            font-size: 2.6rem;
        }
    }
}

@include media-breakpoint-down(lg) {

    .o-layout--text {
        .c-ceo {
            max-width: 85%;
            margin: 0 auto;
        }
    }
}

@include media-breakpoint-up(xl) {
    .c-ceo {

        p,
        ul li {
            font-size: 3rem;
        }
    }
}