

.c-dish {
    background-color: $white;
    position: relative;
    height: 100%;

    @include media-breakpoint-down(md) {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    &-wrap {
        margin: 0 auto;
        padding: 0 $o-sm;

        @include media-breakpoint-down(xs) {
            margin: 0;
        }
    }

    &-head {
        padding-top: $g-sm;

        .price {
            font-size: 4.8rem;
            line-height: 1.2;
        }

        .c-product-ingredients,
        .weight {
            font-size: 1.6rem;
        }
    }

    &-info {
        padding: 0 $g-sm;

        &.ps--active-y + .c-dish-cart {
            box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px -4px 8px rgba(0, 0, 0, 0.04);
        }
    }

    &-close {
        position: absolute;
        top: $o-xs;
        right: $o-xs;
        height: calc(100% - #{$o-xs});

        pointer-events: none;
    }

    .btn-close {
        position: sticky;
        top: $o-xs;

        cursor: pointer;
        pointer-events: all;
        z-index: 1;

        @include media-breakpoint-down(md) {
            img {
                filter: none;
            }
        }
    }

    &-cart {
        display: flex;
        align-items: center;
        justify-content: space-between;

        position: sticky;
        bottom: 0;

        width: 100%;
        text-align: center;

        padding: $g-sm;
        background: $white;

        @media (max-width: 340px) {
            .btn-primary {
                padding: 17px 35px 13px;
            }
        }

        @include media-breakpoint-down(md) {
            margin-top: auto;
        }

    }

    &-img {
        position: relative;

        &::before {
            content: '';
            width: 100%;
            display: block;
            padding-bottom: 81.06%;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;

            // &.lazy {
            //     filter: blur(5px);
                
            //     &.loaded {
            //         filter: none;
            //     }
            // }
        }
    }

}

@include media-breakpoint-up(md) {
    .c-dish-wrap {
        max-width: 600px;
    }
}

@include media-breakpoint-up(lg) {

    .c-dish {
        display: flex;
        overflow-y: hidden;

        &-wrap {
            max-width: 920px;
        }

        &-head {
            padding-right: $g;
        }

        &-img {
            width: 515px;

            position: sticky;
            top: 0;
            bottom: 0;
            margin-bottom: 0;

            &::before {
                padding-bottom: 121.555%;
            }
        }

        &-info {
            width: 375px;
            position: relative;
            margin-bottom: 104px;
        }

        &-cart {
            position: absolute;
            bottom: 0;
            right: 0;

            width: 375px;
            margin: 0;
            padding: $g-sm $o $o $g-sm;
        }
    }

}
