.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    padding: $o 0;

    @include media-breakpoint-up(md) {
        padding: $g-lg 0;
    }

    .logo {
        margin-bottom: 7vw;
        width: 15vw;
        min-width: 160px;
        max-width: 300px;
        
        svg {
            fill: $black;
            transition: $transition;
        }

        &:hover svg {
            fill: $yellow;
        }
    }

    &-img img {
        @extend .animation-sad;
    }

    &-title {
        display: block;
        font-family: 'Neucha';
        @include fluidFontSize(60px, 144px, 480px, 1660px, 80px);
        line-height: 0.77;
        text-align: center;
        margin-bottom: $o-sm;
    }

    p {
        margin-top: $o;
        text-align: center;
    }

    &-back {
        color: $primary;
        font-weight: 700;
    }
}