.c-footer {
    padding: $g 0;
    background-color: $black;
    color: $white;
    
    @include media-breakpoint-up(xl) {
        padding-top: $o * 3;
    }

    &-inner {
        margin-bottom: $g;

        .c-nav {
            margin-bottom: $g-sm;

            &-item {
                &:not(:last-child) {
                    margin-bottom: $o-sm;
                }
            }

            &-link {
                color: $white;
                
                .dark-menu & {
                    color: $white;
                }
            }
        }
    }
    
    &-title {
        font: {
            size: 3rem;
            family: 'Neucha';
        };
        line-height: 1;
        
        margin-bottom: 0;

        &.cooperation,
        &.contacts {
            margin-bottom: $g-sm;
        }
    }

    &-col {

        .provider-link {
            display: block;
            text-transform: uppercase;
            font-size: 1.8rem;
            color: $white;
            margin-bottom: $o-sm;
            transition: $transition;

            &:hover {
                color: $yellow;
            }
        }

        .cooperation-link {
            color: $yellow;
            text-transform: uppercase;
            font-weight: 500;
        }

        .c-social {
            margin: $g-xs 0 $o-sm -8px;

            &-link {
                img {
                    transition: $transition;
                }

                &:hover img {
                    filter: brightness(0) invert(1);
                }
            }
        }
    }
    
    &-address {
        margin-bottom: $o;
        font-size: 1.6rem;

        @include media-breakpoint-up(md) {
            font-size: 1.8rem;
        }

        &__title {
            font: {
                size: 2.4rem;
                weight: 700;
            }
            margin-bottom: $g-sm;
        }

        .number {
            color: $white;
        }
        
        p, address {
            margin: 0;
        }

        address {
            span {
                font-weight: 600;
            }
        }

        time {
            text-transform: lowercase;
            font: {
                size: 1.2rem;
                weight: 600;
            }
        }
    }

    &-bottom {
        display: flex;
        font-size: 1.5rem;

        .c-ideil {
            margin-right: -$g-sm;

            &-link {
                margin-left: -($o-xs);
                padding: $o-xs;
                color: $white;

                &:hover {
                    color: $yellow;
                }
            }
    
            &-img {
                margin-top: -4px;
                margin-left: 1px;
                width: 35px;
            }
        }
    }
    
}

@include media-breakpoint-between(sm, md) {

    .c-footer {

        &-inner {
            display: flex;
            flex-wrap: wrap;
        }

        &-col {
            width: 50%;
            margin-bottom: $g;

            &:nth-child(3) {
                padding-left: $g-sm;
            }

            &:first-child {
                order: -2;
            }

            &:last-child {
                order: -1;
                padding-left: $g-sm;
            }
        }
    }

}


@include media-breakpoint-down(xs) {

    .c-footer {

        &-col {
            margin-bottom: $o-lg;
        }

        &-copyright {
            margin-bottom: $g-sm;
        }

        &-bottom {
            flex-direction: column;
            justify-content: center;

            .c-social {
                order: -1;
                margin-bottom: $g-sm;
            }
        }
    }

}

@include media-breakpoint-up(sm) {

    .c-footer {
        &-inner {
            display: flex;
            flex-wrap: wrap
        }

        &-col {
            width: 50%;
        }

        &-bottom {
            align-items: flex-end;

            .c-ideil {
                margin-left: auto;
            }

            .c-social {
                margin-left: $g-sm;
            }
        }
    }

}

@include media-breakpoint-up(md) {

    .c-footer {
        padding-top: $o-lg;

        &-col {

            &:first-child {
                width: 30%;

                .c-footer-address {
                    width: 100%;
                    padding-right: $o;
                }
            }

            &:nth-child(2) {
                width: 70%;

                .c-footer-address {
                    width: 50%;
                }
            }

            &__toogle {
                display: flex;
                flex-wrap: wrap;
            }
        }

        &-title {
            font-size: 3.6rem;
        }

        &-address {
            &:not(:last-child) {
                padding-right: $o;
            }
        }
    }

}
@include media-breakpoint-between(lg, xl) {
    .c-footer {
        &-col {
            width: 100%;

            &:not(:last-child) {
                margin-bottom: $o-lg;
            }
        }
    }
}

@include media-breakpoint-up(lg) {

    .c-footer {
        padding-top: $g-lg;

        &-inner {
            .c-nav-item:not(:last-child) {
                margin-bottom: $g-sm;
            }
        }
        
        &-col {
            &:first-child {
                width: 25%;
            }

            &:nth-child(2) {
                width: 75%;

                .c-footer-address {
                    width: 33.3334%;
                    
                    @include media-breakpoint-up(laptop) {
                        width: 25%;
                    }
                }
            }

            .provider-link {
                margin-bottom: $g-sm;
            }
        }

        &-address {
            
            @include media-breakpoint-only(lg) {
                width: 33.3334%;
            }

            @include media-breakpoint-only(xl) {
                width: 25%;
            }
            
            @include media-breakpoint-up(hd) {
                width: 50%;
            }

            @include media-breakpoint-up(desktop) {
                width: 33.33334%;
            }
        }
    }

}