$input-bg: #f2f2f2;

.form {
    &-row {
        &,
        &--full {
            margin-right: -12px;
            margin-bottom: $g;
            margin-top: $o-xs;
        }

        &--full {
            display: flex;
        }

        .form-row {
            &, &--full {
                margin-bottom: 0;
            }
        }

        @include media-breakpoint-down(sm) {
            margin-bottom: $g-sm;
        }

        @include media-breakpoint-down(xs) {
            &--full {
                .form-col {
                    width: calc(100% - 120px);
    
                    &--sm{
                        width: 120px;
                    }
                }
            }
        }
    }

    &-section {
        @include media-breakpoint-down(xs) {
            max-width: 335px;
        }
        
        @include media-breakpoint-up(sm) {
            max-width: 510px;
        }
    }

    &-title {
        font-size: 2.4rem;
    }

    &-subtitle {
        display: inline-block;
        margin-bottom: $o-xs;
        font-size: 1.3rem;
    }

    &-col {
        &,
        &--sm,
        &--lg {
            margin-bottom: 12px;
            padding-right: 12px;
        }

        &.radio {
            width: 100%;
            margin-bottom: 0;
            
            &:not(:last-child) {
                margin-bottom: $g-sm;
                
                @include media-breakpoint-up(md) {
                    margin-bottom: $o;
                }
            }
        }

        @include media-breakpoint-down(xs) {
            &,
            &--lg {
                width: 100%;
            }

            &--sm {
                width: 50%;
            }
        }

        @include media-breakpoint-up(sm) {
            width: 50%;

            &--full {
                width: 100%;
            }

            &--lg {
                width: 75%;
            } 
            &--sm {
                width: 25%;
            } 
        }
    }

    &-group {
        position: relative;
        margin: 0;
    }

    &-control {
        height: auto;

        &:hover,
        &:focus,
        &:checked {
            outline: none;
        }

        &:-webkit-autofill {
            -webkit-box-shadow: 0 0 0 30px $white inset !important;
            
            &.is-fill {
                -webkit-box-shadow: 0 0 0 30px $input-bg inset !important;

                &:-webkit-autofill:focus,
                &:-webkit-autofill:active,
                &:-webkit-autofill:hover {
                    -webkit-box-shadow: 0 0 0 30px $white inset !important;
                }
            }
        }

        & + label {
            user-select: none;
            transition: $transition;
            margin: 0;
        }

        &:not([type=radio]):not([type=checkbox]) {
            padding: 25px $g-sm 8px $g-sm;
            border-radius: $g-xs;
            border-color: $input-bg;
    
            font-size: 1.8rem;
            color: $gray-900;
            line-height: 1.2;
            
            &::placeholder {
                color: $input-color;
            }
    
            & + label {
                position: absolute;
                left: $g-sm;
                top: 16px;
    
                color: $gray-500;
                font-size: 1.8rem;
                
                pointer-events: none;
                z-index: 1;
            }
    
            &:focus:enabled,
            &:focus-within:enabled,
            &:active:enabled,
            &.is-fill {
                border-color: $yellow;
                background: $white;
                color: $gray-900;
                outline: none;
                box-shadow: none;
    
                & + label {
                    top: 9px;
                    font-size: 1.3rem;
                }
            }
    
            &.is-fill {
                background: $input-bg;
                border-color: $input-bg;
            }
    
            &.is-invalid {
                border-color: $red;
            }
        }

        &[type=radio] {
            display: none;

            & + label {
                position: relative;
                padding-left: 35px;
                cursor: pointer;

                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    display: inline-block;
                    border-radius: 50%;
                    will-change: transform;
                    transition: $transition;    
                }

                &::before {
                    top: 2px;
                    left: 0;

                    width: 21px;
                    height: 21px;
                    border: 2px solid $primary;
                }

                &::after {
                    top: 8px;
                    left: 6px;

                    width: 9px;
                    height: 9px;
                    background: $primary;
                    transform: scale(0);
                }
            }
            
            &:checked + label::after {
                transform: scale(1);
            }
            
            &:not(:checked) + label:hover {
                color: $yellow;

                &::before {
                    border-color: $yellow;
                }
                
                &::after {
                    transform: scale(.7);
                    background: $yellow;
                }
            }
        }

        &[type=number] {
            -moz-appearance: textfield;

            &::-webkit-inner-spin-button { 
                display: none;
            }
        }
    }

}

textarea.form-control {
    min-height: $g-lg;
    padding: 17px $g-sm !important;
}