.title {
    font-family: 'Neucha';
    margin-bottom: $g-sm;
}

.number {
    color: $black;
    font-weight: 700;

    &:hover,
    &:focus,
    &:active {
        color: $yellow;
    }
}

.description {
    color: $gray-600;
    margin: $o-sm 0 $o-xs;
    line-height: 19px;
}