.o-box{
    padding: 0 $g-sm;
    @include media-breakpoint-up(md) {
        padding: 0 $g;
    }
    
    @include media-breakpoint-up(lg) {
        max-width: 1600px;
        margin: 0 auto;
    }
}