.c-home-cart {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -400px;
    
    display: flex;
    flex-direction: column;
    min-height: 100%;
    
    background-color: $white;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.06);
    width: 100%;
    max-width: 375px;
    transition: .4s;
    
    z-index: 20;
    
    .show-popup-cart & {
        right: 0;
    }

    &.is-empty {
        padding: $g $g-sm;
        justify-content: center;
    }

    &__header,
    &__footer {
        padding: $o-sm $g-sm;
    }

    &__header {
        position: sticky;
        top: 0;
        z-index: 1;

        .title {
            display: block;
            font-size: 3.6rem;
            margin-bottom: 0;
        }
    }
    &__content {
        flex-grow: 1;
        padding: $o-sm $g-sm 0;
        position: relative;
        overflow-y: auto;
        
        .c-cart-list {
            padding-bottom: $o-sm;
        }

        .ps__rail-y {
            right: 6px;
        }

        &.ps--active-y + .c-home-cart__footer {
            box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px -4px 8px rgba(0, 0, 0, 0.04);
        }
    }

    &__footer {
        position: sticky;
        top: 100%;

        margin-top: auto;

        .total,
        .delivery {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .delivery span {
            font: {
                size: 1.4rem;
                weight: 600;
            };
        }

        .total {
            margin: $g-xs 0 $o-sm;
            line-height: 1;

            span:not(.price) {
                font: {
                    size: 1.6rem;
                    weight: 600;
                };
            }

            .price {
                color: $gray-900;
                font-size: 2.4rem;
            }
        }

        .btn {
            width: 100%;
            padding: $o-sm $g-sm;
        }
    }

    &__btns {
        display: flex;
        align-items: flex-end;
        
        position: absolute;
        right: 0;
        top: 0;

        height: 100%;
        padding-bottom: 140px;
        pointer-events: none;
        user-select: none;
        z-index: 1;

        @include media-breakpoint-down(sm) {
            padding-bottom: 100px;
        }

        @include media-breakpoint-up(md) {
            right: -$o-sm;
        }

        @include media-breakpoint-up(fullhd) {
            right: -100px;
            padding-bottom: 0;
        }

        .inner {
            position: sticky;
            bottom: $o;
            pointer-events: all;
        }
        
        .total {
            color: $white;
            background: url('../img/svg/cart-bg.svg') center no-repeat;
            background-size: 100% 100%;
            padding: $g-sm $o $g-sm 35px;
            animation: egg 1.2s linear alternate infinite;
            cursor: pointer;
            line-height: 1.2;

            .count {
                display: inline-block;
                padding: $g-xs;
                padding-bottom: 0;
                font: {
                    size: 1.2rem;
                    weight: 600;
                };
                line-height: 1;
            }

            b {
                display: block;
                padding: $g-xs;
                padding-top: 0;
                font-size: 1.6rem;
            }
        }

        .animation {
            display: none;

            @include media-breakpoint-up(md) {
                display: block;
                width: 130px;
                margin-left: -$o;
                cursor: pointer;
            }
        }
    }
}