.c-home {
    &-sidebar {
        margin-bottom: $g-sm;
        
        @include media-breakpoint-down(md) {
            transition: $transition;
            margin-left: -$g;
            margin-right: -$g;
            
            position: sticky;
            top: 0;
            
            z-index: 5;

            &.is-hide {
                transition: 0s;
                opacity: 0;
            }
        }

        @include media-breakpoint-down(sm) {
            margin-left: -$g-sm;
            margin-right: -$g-sm;
        }

        @include media-breakpoint-up(md) {
            margin-bottom: $g-sm;
        }
    }

    &-main {
        position: relative;
    }

    &-banner {
        position: relative;
        padding-bottom: $g-sm;
        margin-bottom: $o;

        @include media-breakpoint-up(md) {
            margin-bottom: 50px;
        }

        .swiper {
            &-container {
                @include media-breakpoint-down(sm) {
                    padding: 0 $g-sm;
                    margin: 0 (-$g-sm);
                }
                @include media-breakpoint-only(md) {
                    padding: 0 $g;
                    margin: 0 (-$g);
                }
            }

            &-slide {
                border-radius: 14px;
                transition: $transition + 0.5;
                will-change: transform;
                overflow: hidden;
                
                &-prev,
                &.to-prev {
                    transform: scale3d(1, .97, 1) skew(2deg);
                    opacity: 1;
                }
                
                &-next,
                &.to-next {
                    transform: scale3d(1, .97, 1) skew(-2deg);   
                    opacity: 1;
                }

                &-prev,
                &-next {
                    opacity: 0;
                }
                
                &-active {
                    transform: none;
                    z-index: 1;
                }

                &::before {
                    content: '';
                    display: block;
                    padding-bottom: 100%;

                    @include media-breakpoint-up(md) {
                        padding-bottom: 34.25%;
                    }
                }

                img {
                    position: absolute;
                    top: 0;
                    left: 0;

                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

}

@include media-breakpoint-up(lg) {
    .c-home {
        &-inner {
            display: flex;
        }
        
        &-sidebar {
            margin-bottom: 0;
            width: 255px;
            position: relative;
        }
        
        &-main {
            padding-top: $g-sm;
            padding-left: $g;
            width: calc(100% - 255px);
        }
    }

}