.c-ingredient {
    color: $component-color;
    font: {
        size: 1.5rem;
        weight: 600;
    };
    display: flex;
    align-items: center;

    padding: $o-xs 0;

    &-wrap {
        margin-top: $o;
        margin: 0 (-$g-sm) 0;
        
        &:not(:last-child) {
            border-bottom: 1px solid #f5f5f5;
        }
    }
    
    &-inner {
        padding: 0 $g-sm;
        margin-bottom: $o-sm;

        .c-ingredient:first-child {
            margin-top: $o-xs;
        }

        .form-control {
            max-width: 100%;
        }
    }

    &-head {
        background-color: #f5f5f5;
        padding: $o-sm $g-sm;
        margin: 0 (-$g-sm) $g-sm;

        .description {
            margin: 0;
        }
    }

    &-title {
        font-size: 2.4rem;
    }

    &-counter {
        display: inline-flex;

        .btn-count--remove,
        input {
            display: none;
        }
        
        &.to-add {
            .btn-count--remove,
            input {
                display: block;
            }
        }
    }

    &-name {
        margin-left: $o-xs;
    }

    &-price {
        margin-left: auto;
        min-width: 46px;
        text-align: right;
    }
}