@mixin padding {
    padding: $g 0;
    
    @include media-breakpoint-up(md) {
        & {
            padding: $o-lg 0;
        }
    }

    @include media-breakpoint-up(lg) {
        & {
            padding: $g-lg 0; 
        }  
    }

    @include media-breakpoint-up(xl) {
        & {
            padding: $o * 3 0; 
        }  
    }

    @include media-breakpoint-up(hd) {
        & {
            padding: ($g * 3) 0; 
        }  
    }
}

@mixin margin {
    margin: 0 auto $g;

    @include media-breakpoint-up(md) {
        & {
            margin-bottom: $o-lg ;
        }
    }

    @include media-breakpoint-up(lg) {
        & {
            margin-bottom: $g-lg;
        }  
    }

    @include media-breakpoint-up(xl) {
        & {
            margin-bottom: $o * 3; 
        }  
    }

    @include media-breakpoint-up(hd) {
        & {
            margin-bottom: $g * 3; 
        }  
    }
}

.o-layout,
.c-slider,
.c-contacts-map,
.c-order {
    @include margin;
}

.c-main-screen {
    @include margin;
}

.o-layout--bg,
.o-layout--img,
.c-delivery-banner {
    @include padding;
}

@mixin fluidFontSize($f-min, $f-max, $w-min, $w-max, $fallback: false) {
    font-size: $f-min;
  
    @media (min-width: $w-min) {
        @if ($fallback) {
            font-size: $fallback;
        }
        font-size: calcFluidFontSize($f-min, $f-max, $w-min, $w-max, px);  
    }
    @media (min-width: $w-max) {
        font-size: $f-max;
    }
}