.modal {
    &-content {
        border: none;
        border-radius: 0;   

        &:not(.c-dish-content) {
            padding: $g;
            padding-bottom: $o;

            justify-content: center;

            .btn-close {
                position: absolute;
                top: $o-xs;
                right: $o-xs;
            }

            @include media-breakpoint-up(sm) {
                padding: $o-lg;
                padding-bottom: $g;
            }
        }
        
        @include media-breakpoint-up(sm) {
            border-radius: $o-sm;
            overflow: hidden;
            box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.06);
        }
        
        @include media-breakpoint-up(md) {
            border-radius: 25px;
        }
    }

    &-dialog {
        @include media-breakpoint-down(xs) {
            margin: 0;
            padding: 0;
            width: 100vw;
    
            .modal-content {
                height: 100%;
            }
    
            .modal.fade &.modal-dialog {
                transform: unset;
                display: grid;
                min-height: 100%;
                width: 100%;
            }
        }
    }
}

@include media-breakpoint-down(xs) {
    .modal-dialog-centered::before {
        display: none; 
    }
}