.c-nav {

    &-link {
        font-size: 1.8rem;
        text-transform: uppercase;
        color: $white;
        
        transition: $transition;
        
        &:hover {
            color: $yellow !important;
        }
        
        .dark-menu & {
            color: #000;
        }
    }

}

@include media-breakpoint-down(lg) {

    .c-banner-nav {
        .c-nav {
            margin-bottom: $g;
        
            &-item {
                &:not(:last-child) {
                    margin-bottom: $g-sm;
                }
            }
        
            &-link {
                font-size: 1.8rem;
                text-transform: uppercase;
                color: $white;
            }
        }
    }

}

@include media-breakpoint-up(xl) {

    .c-banner-nav {
        .c-nav {
            &-list {

            }

            &-item {
                display: inline-block;

                &:not(:last-child) {
                    margin-right: $g-sm;
                }
            }
        }
    }

}