.o-notification {
    text-align: center;
    
    &-title {
        font: {
            family: 'Neucha';
            size: 4.2rem;
        };
        line-height: 1.2;
    }

    &-img {
        max-width: 270px;
        margin: $g-sm auto $g;
    }

    p {
        margin-bottom: $o-sm;
        font-size: 1.6rem;

        a {
            font-weight: bold;

            &:hover {
                color: $yellow;
            }
        }
    }

    .btn {
        margin-top: $o;
    }
}