.c-order {
    .h1 {
        margin-bottom: $o-sm;

        @include media-breakpoint-up(md) {
            margin-bottom: $o;
        }
    }

    .back {
        margin-top: $o-xs;
        display: inline-flex;
        align-items: center;

        color: $gray-900;
        padding: $g-xs;
        margin-left: -$g-xs;
        transition: $transition;

        svg {
            width: 21px;
            margin-right: $o-sm;
            fill: $primary;
            transition: inherit;
        }
        
        &:hover {
            color: $yellow;
            
            svg {
                transform: translateX(-5px);
                fill: $yellow;
            }
        }

    }

    .sticky {
        position: sticky;
        bottom: 0;
    
        background: $white;
        transition: $transition;
        -webkit-transform: translate3d(0,0,0);
        z-index: 3;

        &.has-shadow {
            box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px -4px 8px rgba(0, 0, 0, 0.04);
        }
        
        @include media-breakpoint-down(md) {
            margin: 0 (-$g);
            padding: $g-sm $g;
        }

        @include media-breakpoint-down(sm) {
            margin: 0 (-$g-sm);
            padding: $g-sm;
        }

        .btn {
            width: 100%;
            text-align: center;
            padding: 17px $o-xs 13px;

            span {
                width: 100%;
            }
        }
    }

    &-inner {
        @include media-breakpoint-up(lg) {
            display: flex;
        }
    }

    &-sidebar {
        @include media-breakpoint-up(lg) {
            margin-left: auto;
            padding-left: $o;
        }
    }
    
    &-cart {

        &__delivery {
            display: flex;
            align-items: center;
            padding: $o 0 $o-xs;

            span {
                margin-left: $o-xs;
                font-weight: 600;
            }
            
            b {
                margin-left: auto;
            }
        }
        
        &__content.is-empty {
            padding: $g-lg $o;
        }

        @include media-breakpoint-down(md) {

            .c-cart-subtitle {
                margin-bottom: $g-sm;
            }

            &__content.is-empty {
                margin: 0 auto;
                max-width: 400px;
            }
        }
        
        @include media-breakpoint-up(lg) {
            filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.04)) drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.04)) drop-shadow(0px 16px 24px rgba(0, 0, 0, 0.06));
            width: 400px;

            position: sticky;
            top: $g-sm;
            // overflow: hidden;

            .c-cart {
                position: relative;
                max-height: calc(100vh - 295px);
                padding: $o-xs $o;

                &.ps--active-y + div {
                    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px -4px 8px rgba(0, 0, 0, 0.04);
                }
                
                &-subtitle {
                    position: relative;
                    padding: 25px $o $g-sm;
                    padding-top: 25px;
                    border-top-right-radius: 19px;
                    border-top-left-radius: 19px;
                    overflow: hidden;
                    background: $white;
                    z-index: 1;
                    
                    &.has-shadow {
                        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.04);
                    }
                }
            }

            &__content,
            &__footer,
            &__delivery {
                background: $white;
            }
    
            &__content {
                border-top-right-radius: 19px;
                border-top-left-radius: 19px;
            }

            &__delivery {
                position: relative;
                padding: $g-sm $o $o-xs;
            }
    
            &__footer {
                padding: $o-sm $g $o;
                border-bottom-right-radius: 19px;
                border-bottom-left-radius: 19px;

                .btn {
                    width: 100%;
                }
            }
    
            .gap {
                position: relative;
                box-shadow: 0 1px 0 0 #fff, 0 -1px 0 0 #fff;
                display: flex;
                align-items: center;
                overflow: hidden;
                
                span {
                    display: inline-block;
                    background: $white;
                    height: 34px;
                    width: calc(100% - 38px);
                    margin: 0 auto;
                    
                    &::before {
                        content: '';
                        position: absolute;
                        top: 16px;
                        left: 50%;
                        display: inline-block;
                        width: 85%;
                        transform: translateX(-50%);
                        border-bottom: 1px dashed #BCC1DA;
                    }
                }
    
                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    width: 64px;
                    height: 64px;
                    top: 50%;
    
                    transform: translate(-50%, -50%);
                    
                    border: 15px solid transparent;
                    border-top-color: $white;
                    border-left-color: $white;
                    border-radius: 50%;
                    pointer-events: none;
                    border-bottom-color: $white;
                }
    
                &::before {
                    left: 0px;
                    transform: translate(-50%, -50%) rotate(180deg);
                }
    
                &::after {
                    right: -64px;
                }
            }
        }
    }
}