#popup-delivery-cart {
    overflow: hidden;
}

.c-popup {
    padding: $g-sm;
    min-width: 300px;
    background-color: $white;

    &-wrap {
        margin: 0 auto;
    }

    &-img {
        height: 200px;
        width: 315px;
        overflow: hidden;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .title {
        font-size: 4.2rem;
        text-align: center;
        margin-bottom: $o;
    }

    .btn {
        margin: $o-sm auto 0;
        display: block;
    }

    &-thanks {

        .animation {
            margin: $g auto $o-lg;
            text-align: center;
            
            img {
                max-width: 290px;
                transform-origin: 50% 50%;
                animation: jump .7s linear alternate infinite;
            }
            
        }

        p {
            max-width: 290px;
            margin: $g-sm auto;
        }
    }

    &-delivery {
        margin: 1.75rem auto; 

        &__inputs {
            display: flex;
            justify-content: space-between;

            .form-group {
                width: 50%;

                &:first-child {
                    padding-right: $g-xs;
                }

                &:last-child {
                    padding-left: $g-xs;
                }
            }
            
        }
        
        .schedule {
            margin: $g-sm auto 0;
        }

        &__title {
            font: {
                size: 1.6rem;
            };
            margin-right: auto;
            margin-bottom: 0;
            padding-right: $o-xs;
        }
    }
}

@include media-breakpoint-up(sm) {
    .c-popup {
        padding: $o;
    }
}

@include media-breakpoint-up(md) {
    .c-popup {
        padding: $g;

        &-wrap {
            display: flex;
            padding-left: 250px;
            position: relative;
        }

        &-img {
            position: absolute;
            left: 0;
            top:0;
            bottom: 0;

            width: 250px;
            height: 100%;
        }

        &-delivery {
            padding: $o-lg 55px $g;
        }
    }
}