.weight {
    display: inline-block;
    font-size: 1.2rem;
    color: $gray-500;
    margin: $g-xs 0;
}

.c-product {
    &-section {
        margin-bottom: $g;
    }

    &-subtitle {
        @extend .h1;
        display: inline-block;
        
        margin-bottom: $g-sm;

        background: $white;
        border-radius: $g;
        
        z-index: 2;
    }
    
    &-list {
        @extend .u-list;
    }
    
    &-item {
        max-width: 480px;
        margin-bottom: $g;

        @include media-breakpoint-up(md) {
            display: flex;
            flex-direction: column;

            min-width: 290px;
            width: 50%;

            padding: 0 $o-xs;
            margin: 0 0 $g;
        }
        
        @media (min-width: 1240px) {
            width: 33.333334%;
        }

        @media (min-width: 1530px) {
            width: 25%;
            padding: 0 $o-sm;
        }
    }

    &-ingredients {
        font-size: 1.2rem;
        color: $gray-500;
        margin-bottom: $o-sm;
    }

    &-img {
        width: 100%;
        position: relative;

        margin: 0 auto 45px;
        cursor: pointer;
        box-shadow: none;
        transition: $transition;

        &::before {
            content: '';
            display: block;
            padding-bottom: 100%;
        }

        &:hover {
            transform: translateY($g-xs);
        }

        &.center {
            text-align: center;
        }
        
        img {
            position: absolute;
            bottom: 0;
            left: 0;

            width: 100%;
            height: 100%;
            object-fit: contain;
            box-shadow: none;
        }
    }

    &-title {
        display: block;
        margin: 0;
        color: $gray-900;
        font-size: 2.4rem;
        line-height: 1.2;
        
        .c-product-item & {
            cursor: pointer;
            transition: $transition; 
            
            &:hover {
                color: $yellow;
            }
        }
    }
    
    &-order {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .price {
            font-size: 3.6rem;
        }
        
        .in-cart {
            display: block;
            margin-bottom: -18px;

            text-align: center;
            color: $gray-500;
            font-size: 1.2rem;
        }
    }

}

@include media-breakpoint-up(md) {

    .c-product {

        &-list {
            display: flex;
            flex-wrap: wrap;
            
            margin: 0 (-$o-xs);
        }

        &-img {
            margin: 0;
            margin-bottom: $o;
        }

        &-order {
            margin-top: auto;
        }
    }

}