*:focus {
    outline: none !important;
}

html {
    font-size: 10px;
    position: relative;

    &::before {
        content: '';

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background-color: rgba(0,0,0, .05);
        pointer-events: none;
        opacity: 0;
        transition: $transition;
        z-index: 6;
    }
    
    &.show-popup-cart {
        &::before {
            opacity: 1;
            pointer-events: all;
        }
    }
}

body {
    background-color: $body-bg;
    fill: $black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    display: flex;
    flex-direction: column;
    min-height: 100vh;

    font: {
        family: 'Nunito';
        size: 1.6rem;
    }

    .show-popup-cart & {
        overflow-y: hidden;
        padding-right: 17px;
        -webkit-padding-right: $o-sm;
    }
}

.main {
    flex-grow: 1;
}

img {
    max-width: 100%;
    height: auto;
    user-select: none;
}

button,
.btn,
a {
    transition:
        color $transition,
        background $transition,
        border-color $transition,
        fill $transition,
        opacity $transition;
}

a {
    text-decoration: none; 

    &:hover {
        text-decoration: none;
    }
}

textarea {
    resize: vertical;
}

abbr[title] {
    text-decoration: none;
    border-bottom: 0;
    cursor: inherit !important;
}

h1, .h1 {
    display: block; 
    @include fluidFontSize(36px, 48px, 480px, 1200px, 42px);
    @extend .u-font;
}

/*.lazy {
    filter: blur(5px);
    
    &.loaded {
        filter: none;
    }
}*/

.c-counter {
    display: flex;
    align-items: center;
    
    &-number {
        width: 35px;
        text-align: center;
        font: {
            size: 1.6rem;
            weight: 700;
        };
        color: $gray-900;

        .c-dish-cart & {
            width: 40px;
            font-size: 2rem;
            
            @media (min-width: 340px) {
                width: 55px;
            }
        }
    }
}

.wow {
    visibility: hidden;
}