.ps {
    &__rail-y {
        width: 4px;
        right: 2px;

        cursor: pointer;
        
        &:hover {
            .ps__thumb-y {
                background-color: $yellow;
            }
        }
    }
    
    &__thumb-y {
        right: -3px;
        width: 6px;
        background-color: $yellow;
        
        &:hover {
            background-color: $yellow;
        }
    }
}