.c-social {
    &-list {
        @extend .u-list;
    }
    
    &-item {
        display: inline-block;
        vertical-align: middle;

        &:not(:first-child) {
            margin-left: $o-xs;
        }
    }

    &-link {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 8px;
        transition: $transition;
    }

}