@mixin font-face($family, $filepath, $weight: normal, $style: normal) {
	@font-face {
		font-family: $family;
		font-display: swap;
		src: local($family),
			url('#{$filepath}.woff') format('woff'),
			url('#{$filepath}.ttf') format('truetype');
		font-weight: $weight;
		font-style: $style;
	}
}

//** Font weight hint
// 100 – thin
// 200 – extra light
// 300 – light
// 400 – regular (normal)
// 500 – medium
// 600 – semibold
// 700 – bold
// 800 – extrabold
// 900 – black

@include font-face('Neucha', '../fonts/Neucha/Neucha', 400);
@include font-face('Nunito', '../fonts/Nunito/Nunito-Regular', 400);
@include font-face('Nunito', '../fonts/Nunito/Nunito-SemiBold', 600);
@include font-face('Nunito', '../fonts/Nunito/Nunito-Bold', 700);