<template>
    <div class="main">
        <div class="answers-container">
            <div class="answers" v-if="hasSongs">
                <div class="wrapper">
                    <Word
                        :word="currentSong.word_1"
                        :word-number="'1'"
                        :nextSong="index"
                    />
                    <Word
                        :word="currentSong.word_2"
                        :word-number="'2'"
                        :nextSong="index"
                    />
                    <Word
                        :word="currentSong.word_3"
                        :word-number="'3'"
                        :nextSong="index"
                    />
                </div>
                <div class="wrapper two-row">
                    <Word
                        :word="currentSong.word_4"
                        :word-number="'4'"
                        :nextSong="index"
                    />
                    <Word
                        :word="currentSong.word_5"
                        :word-number="'5'"
                        :nextSong="index"
                    />
                </div>
            </div>
        </div>
        <div class="next">
            <div
                class="btn btn-success float-right"
                @click="nextSong"
            >
                Далі
            </div>
        </div>
    </div>
</template>

<script>
import Word from "@root/resources/front/js/vue/components/Word";

export default {
    components: {
        Word
    },
    props: {
        songs: {
            type: Array,
            required: false,
            default: []
        }
    },
    data () {
        return {
            isActive: false,
            index: 0,
            currentSong: {}
        }
    },
    created() {
        if (this.songs[this.index]) {
            this.currentSong = this.songs[this.index]
        }
    },
    computed: {
        hasSongs () {
            return this.index < this.songs.length
        }
    },
    methods: {
        nextSong () {
            this.isActive = true
            this.index++
            if (this.songs[this.index]) {
                this.currentSong = this.songs[this.index]
            }
        }
    }
}
</script>

<style scoped>
.main {
    width: 100%;
}
.answers-container {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.next {
    height: 10vh;
    padding: 20px;
}

.wrapper {
    margin: 0 auto;
    display: flex;
}
.two-row {
    justify-content: center;
}
</style>
