<template>
    <div
        :class="isActive ? 'active' : 'box'"
        @click="changeActive"
    >
        {{ showWord }}
    </div>
</template>

<script>
export default {
    props: {
        word: {
            type: String,
            required: false,
            default: ''
        },
        wordNumber: {
            type: String,
            required: false,
            default: ''
        },
        nextSong: {
            type: Number,
            required: false,
            default: false
        }
    },
    data () {
        return {
            isActive: false
        }
    },
    watch: {
        'nextSong': {
            handler (value) {
                this.isActive = false
            }
        }
    },
    computed: {
        showWord () {
            if (this.isActive) {
                return this.word
            }
            return this.wordNumber
        }
    },
    methods: {
        changeActive () {
            this.isActive = !this.isActive
        }
    }
}
</script>

<style scoped>
.active {
    background-color: white;
    border: 1px solid black;
    margin: 5px;
    height: 100px;
    line-height: 100px;
    width: 400px;
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    color: #000;
    border-radius: 5px;
    cursor: pointer;
}

.box {
    background-color: #03a9f4;
    margin: 5px;
    height: 100px;
    line-height: 100px;
    width: 400px;
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
</style>
