<container class="footer">
    <wrapper>
        <row class="collapse">
            <columns>
                <h2>Дякуємо що&nbsp;ти&nbsp;з&nbsp;нами</h2>

                <p>З&nbsp;приводу питань роботи доставки та&nbsp;здійснення замовлення</p>
                <h3>📞 <a href="tel:0 800 20 010"><b>0 800 20 010</b></a></h3>

                <p>Скористайтесь додатком Ring</p>
                <spacer size="8"></spacer>
                <menu class="simple">
                    <item class="simple" href="https://play.google.com/store">
                        <img src="https://ftfyrj.stripocdn.email/content/guids/CABINET_2fb4d1da670a4c5d6505b8d45b278b96/images/45541578738224437.png" width="175" height="54" title="Google Play" alt="Google Play">
                    </item>
                    <item class="simple" href="https://www.apple.com/">
                        <img src="https://ftfyrj.stripocdn.email/content/guids/CABINET_2fb4d1da670a4c5d6505b8d45b278b96/images/17331578738398073.png" width="175" height="54" title="App Store" alt="App Store">
                    </item>
                </menu>

                <spacer size="12"></spacer>

                <p class="smaller">Ви&nbsp;отримали цей лист, тому що&nbsp;є&nbsp;користувачем Ring. Розсилка проводиться відповідно до&nbsp;призначеним для користувача <a href="http://ring.lutsk.ua/" target="_blank" rel="noopener noreferrer"><b>угодою</b></a>.</p>
                <p class="smaller">&nbsp;</p>
                <p class="smaller"><a href="http://ring.lutsk.ua/" target="_blank" rel="noopener noreferrer"><b>Відписатись</b></a></p>
            </columns>
        </row>
    </wrapper>
</container>
