{% extends '_templates/base.twig' %}

{% set pageId = '00' %}
{% set pageTitle = 'Доставка грузиньскої їжі' %}

{% block content %}
    <div class="c-home">
        <div class="o-box">
            <div class="c-home-inner js-sidebar-scroll">
            
                <aside class="c-home-sidebar js-sidebar">
                    {% include "./_parts/app-category.twig" %}
                </aside>

                <div class="c-home-main">

                    {% include './_parts/slider.twig' %}

                    {% for i in categories %}
                        {% if loop.last %}
                            {% include './_parts/app-product.twig' with { end: 6, data: i.data, arr: drinks, title: i.link } %}
                        {% else %}
                            {% include './_parts/app-product.twig' with { end: 6, data: i.data, title: i.link } %}
                        {% endif %}
                        
                    {% endfor %}
                        
                    {% include './_parts/home-cart.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}