{% extends '_templates/base.twig' %}

{% set pageId = '01' %}
{% set pageTitle = 'Замовлення' %}

{% block content %}

    <div class="c-order"> 
        <div class="o-box">
            <a href="00-home.html" class="back wow fadeInLeft" data-wow-delay=".5s">
            {% include "../img/svg/arrow.svg" %}
            Повернутись в меню</a>

            <span class="h1 wow fadeIn">Оформлення замовлення</span>
            <div class="c-order-inner">
                <div class="c-order-form wow fadeIn" data-wow-delay=".5s">
                    {% include "./_parts/form.twig" %}
                </div>
                <div class="c-order-sidebar wow fadeInUp" data-wow-delay=".2s">
                    <div class="c-order-cart js-order-sidebar">
                        <div class="c-order-cart__content is-empty">
                            {# <div class="c-cart-subtitle">В кошику <b>5 страв</b></div>
                            {% include './_parts/cart.twig' with { scroll: 'js-cart-order' } %}
                            <div class="c-order-cart__delivery">
                                <img src="../img/svg/delivery.svg" alt="доставка">
                                <span>Доставка:</span>
                                <b>30 ₴</b>
                            </div> #}
                            {% include "./_parts/app-notification.twig" with {
                                title: 'Йой. <br> Тут порожньо:(',
                                sad: true,
                                info: ["Вибери страву з&nbsp;нашого меню, а&nbsp;ми&nbsp;доставимо її&nbsp;якомога швидше!"]
                            } %}
                        </div>
                        <div class="gap"><span></span></div>
                        <div class="c-order-cart__footer d-none d-lg-block">
                            {# <button class="btn btn-primary"  data-toggle="modal" data-target="#popup-thanks">Замовити на 326 ₴</button> #}
                            <a href="00-home.html" class="btn btn-primary">Назад в меню</a>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="sticky d-block d-lg-none js-btn-shadow has-shadow wow fadeInUp" data-wow-delay=".5s">
                {# <button class="btn btn-primary" data-toggle="modal" data-target="#popup-thanks">Замовити на 326 ₴</button> #}
                <a href="00-home.html" class="btn btn-primary">Назад в меню</a>
            </div>
        </div>    
    </div>

{% endblock %}


