{% extends '_templates/base.twig' %}

{% set pageId = '404' %}
{% set pageTitle = 'Замовлення' %}

{% block content %}

    <section class="error">
        <a href="00-home.html" class="logo wow fadeInUp">
            {% include "../img/svg/logo.svg" %}
        </a>
        <span class="error-title wow fadeInUp" data-wow-delay=".1s">Сторінка <br/>не&nbsp;знайдена</span>
        <div class="error-img wow fadeInUp" data-wow-delay=".15s">
            <img src="../img/svg/empty.svg" alt="error">
        </div>
        <p class="wow fadeInUp" data-wow-delay=".2s">Будь-ласка поверніться <a class="error-back" href="00-home.html">на&nbsp;головну</a>.</p>
    </section>

{% endblock %}